.base-video {
  display: flex;
  position: relative;
}

.base-video--fit {
  height: 100%;
  width: 100%;
}

.base-video--fit video {
  -o-object-fit: cover;
  object-fit: cover;
}

.base-video video {
  @extend %cover;
  //opacity: 0;
  //transition: opacity 0.6s cubic-bezier(0.14, 1, 0.34, 1);
}

.base-video--loaded video {
  //opacity: 1;
}
