.header {
  position: fixed;
  bottom: calc(var(--margin) - 0.3rem);
  left: var(--margin);
  right: var(--margin);
  display: flex;
  text-transform: uppercase;
  pointer-events: none;
  z-index: z('navigation');
}

.header--visible {
  opacity: 1;
}

.header--light {
  color: var(--text-color);
}

.header--dark {
  color: var(--text-color);
}

.header--preloader-done {
  pointer-events: auto;
}

// ---------------
.header-credit {
  width: col(2, 'full');
}

.header-contact {
  width: col(2);
}
