/* BBManualMonoPro */
@font-face {
  font-family: 'bbmanual';
  src: url('/fonts/BBManualMonoPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'bbmanual';
  src: url('/fonts/BBManualMonoPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Meloriac */
@font-face {
  font-family: 'meloriac';
  src: url('/fonts/Meloriac-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
