/* Helvetica */
@font-face {
  font-family: 'hnt';
  src: url('/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'hnt';
  src: url('/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'hnt';
  src: url('/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Austin Cyr */
@font-face {
  font-family: 'ac';
  src: url('/fonts/AustinCyr-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ac';
  src: url('/fonts/AustinCyr-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
