#home {
  height: 100vh;
  overflow: hidden;
}

.home-list {
  --font-scale: 10.6rem;
  --step-y: calc(var(--font-scale) * 0.84);
  --step-x: calc(var(--font-scale) * 0.7);
  --frac: 0;
  --center-shift: 0px;
  --entry-shift: 0px;
  @extend %cover;
  pointer-events: none;
}

.home-item {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transform: translate3d(
    calc((var(--slot) - var(--frac)) * var(--step-x)),
    calc((var(--slot) - var(--frac)) * var(--step-y) + var(--entry-shift, 0px)),
    0
  );
  transition: color 400ms $ease-o2, background-color 400ms $ease-o2;
  will-change: transform, opacity;
  pointer-events: all;
  cursor: pointer;

  &.is-active {
    pointer-events: none;
    .home-item-badge {
      color: var(--bg-color);
      background: var(--text-color);
    }
  }
}

.home-item-badge {
  @extend %center;
  width: 10.4rem;
  height: 100%;
  padding: 1.4rem 0;
  border-radius: 38px;
  border: 4px solid $cl-black;
  background: transparent;
  transition: background-color 400ms $ease-o2, color 400ms $ease-o2;

  span {
    @extend %mr-53;
    display: block;
    text-align: center;
  }
}

.home-item-title {
  @extend %mr-106;
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 1.5rem;
  pointer-events: none;
}

/* Infos */
.home-item-info {
  @extend %bb-14;
  position: absolute;
  top: 0.5rem;
  right: -1rem;
  transform: translateX(100%);
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;
}

/* PREVIEW */
.home-preview {
  position: absolute;
  top: var(--margin);
  right: var(--margin);
  width: col(2);
  aspect-ratio: 4/5;
  overflow: hidden;
  pointer-events: none;
}

.home-preview-fig {
  @extend %cover;
  opacity: 0;
  clip-path: inset(6%);
  will-change: clip-path, opacity;

  img {
    scale: 1.2;
    object-fit: cover;
    object-position: center;
    will-change: transform;
  }
}

.home-preview-icon {
  @extend %cover-center;
  width: 120px;
  height: 120px;
  pointer-events: none;
  z-index: 2;

  polygon {
    fill: $cl-black;
  }
}
