#works {
}

.works-content {
  width: col(5);
  margin-inline: auto;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.works-link {
  width: 100%;
}

.works-media {
  position: relative;
  overflow: hidden;
  opacity: 0;
}

.works-description {
  width: 100%;
  padding-top: 4rem;
}
